<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style type="text/css">
            body {
                background-color: #5bb6e6;
                padding: 3em;
                font-family: 'Arial', serif;
                font-weight: initial;
                color: #fff;
            }

            h2 {
                padding: 0;
                margin: 0;
            }

            h3 {
                font-weight: bolder;
                font-size: x-large;
                margin-bottom: .3em;
            }

            ul {
                list-style-type: none;
                margin: 0 0 2em 0;
                padding: 0;
            }

            ul li a {
                font-size: 1.5em;
            }

            a {
                color: #fff;
                text-decoration: none;
            }

            input.txt {
                border: 0;
                padding: 1em;
                width: 80%;
                margin-bottom: 2em;
            }

            input.btn {
                border: 0;
                display: block;
                padding: 1em 3em;
                background: #A5F883;
                margin-bottom: 1em;
                cursor: pointer;
            }
            {% block stylesheets %}
            {% endblock %}
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <h2 style="padding: 0; margin: 0"><a href="/">Главная</a></h2>
        </header>
        {% block body %}
        {% endblock %}
        <footer>

        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
